<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirection</title>
    <style>
        body {
            text-align: center;
            font-family: 'Cairo', Arial, sans-serif;
        }

        .error {
            color: red;
        }

        #logContainer {
            margin-top: 20px;
            border: 1px solid #ccc;
            padding: 10px;
            max-height: 200px;
            overflow-y: auto;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function sendTextMessage(senderPsid, text) {
            try {
                const response = await axios.post('/send-message', {
                    senderPsid,
                    text
                });
                console.log('Text message sent:', response.data);
            } catch (error) {
                console.error('Error sending text message:', error.message);
            }
        }

        window.extAsyncInit = function () {
            logMessage('MessengerExtensionsJS SDK is done loading.');

            try {
                MessengerExtensions.getUserID(
                    function success(uids) {
                        try {
                            var psid = uids.psid;
                            logMessage('UserID obtained: ' + psid);

                            // Get parameters from the URL
                            var urlParams = new URLSearchParams(window.location.search);
                            var appointment = urlParams.get('appointment');
                            var SITE_URL = '<%= SITE_URL %>'; // Access SITE_URL passed from server

                            // Construct the URL with external parameters
                            var constructedUrl = `${SITE_URL.endsWith('/') ? SITE_URL.slice(0, -1) : SITE_URL}/appointment?appointmentDetails=${appointment}`;

                            // Set the hyperlink with the constructed URL
                            var linkElement = document.getElementById('link');
                            linkElement.textContent = 'إضغط هنا للإنتقال إلى موعدك';
                            linkElement.href = constructedUrl;

                            // Send the text message immediately
                            sendTextMessage(psid, 'Hello, ')
                                .then(() => {
                                    logMessage('Message sent successfully');
                                })
                                .catch((error) => {
                                    logError('Error sending message: ' + error.message);
                                });

                            // Close the web browser immediately
                            MessengerExtensions.requestCloseBrowser(
                                function success() {
                                    logMessage('Web browser closed');
                                },
                                function error(err) {
                                    logError('Error closing web browser: ' + err);
                                });
                        } catch (err) {
                            logError('An error occurred during user ID obtaining: ' + err.message);
                        }
                    },
                    function error(err, errorMessage) {
                        logError('Error obtaining user ID: ' + errorMessage);
                    }
                );
            } catch (err) {
                logError('An error occurred during the execution: ' + err.message);
            }
        };

        function logMessage(message) {
            var logContainer = document.getElementById('logContainer');
            var logEntry = document.createElement('div');
            logEntry.textContent = message;
            logContainer.appendChild(logEntry);
            logContainer.scrollTop = logContainer.scrollHeight;
        }

        function logError(error) {
            var errorContainer = document.querySelector('.error');
            var errorEntry = document.createElement('div');
            errorEntry.textContent = 'Error: ' + error;
            errorContainer.appendChild(errorEntry);
        }
    </script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
    </script>
</head>

<body>
    <div class="error"></div>
    <div id="logContainer"></div>
    <a id="link" target="_blank"></a>
</body>

</html>
