<!DOCTYPE html>
<html>
<head>
  <title>Your Page</title>
</head>
<body>
  <h1>Welcome to Your Page</h1>
  <p>Click the button to close the webview.</p>

  <button id="closeButton" onclick="closeWebview()">Close Webview</button>

  <script type="text/javascript">
    function closeWebview() {
      MessengerExtensions.requestCloseBrowser(function success() {
        // Webview closed successfully
      }, function error(err) {
        console.error('Error closing webview:', err);
      });
    }
  </script>

  <script type="text/javascript" async defer>
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "Messenger"));
  </script>
</body>
</html>
