<!DOCTYPE html>
<html>
<head>
  <title>Your Page</title>
</head>
<body>
  <h1>Welcome to Your Page</h1>
  <p>Click the button to close the webview.</p>

  <button id="closeButton" onclick="closeWebview()">Close Webview</button>

  <script type="text/javascript">
   
      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.com/en_US/messenger.Extensions.js"; // Corrected the URL
        fjs.parentNode.insertBefore(js, fjs);
      }(document, "script", "Messenger"));
      function closeWebview() {
      window.extAsyncInit = function() {
       
      };
    }

    MessengerExtensions.requestCloseBrowser(function success() {
          window.close(); // Webview closed
        }, function error(err) {
          console.error('An error occurred: ' + err);
        });
  </script>
</body>
</html>
